<% Event.statuses.each do |key, value| %>
  <% next if current_user.Student? && value.zero? %>
  <div class="tab_panel no-border no-padding <%= rescue_active_panel value %>">
    <%= render partial: "user_event", collection: user_events.try(key) %>
  </div>
<% end %>
