<div class="content_detail">
  <div class="container">
    <% if @user_events.empty? %>
      <div class="display_center">
        <h3><%= t ".user_events_empty" %></h3>
      </div>
    <% else %>
      <div class="filter_panel">
        <%= render "event_statuses" %>
      </div>
      <div class="tab_panels mt-20">
        <%= render "filtered_events", user_events: @user_events %>
      </div>
    <% end %>
  </div>
</div>
