@import 'bootstrap';

$header_container_gray: #ececec;
$search_border_gray: #ddd;
$search_btn_gray: #aaa;
$sidebar_hover_gray: #e4e4e4;
$main_nav_gray: #4e4e4e;
$main_nav_icon_gray: #6c6a74;
$main_nav_border_orange: #ff6600;
$main_nav_orange: #ff8a00;
$content_gray: #fafafa;

@mixin transition($duration, $property) {
  transition: $duration $property;
  -webkit-transition: $duration $property;
}

header {
  background: $content_gray;
  box-shadow: 0px 1px 1px 1px $header_container_gray;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {height: 56px}

.dropdown-toggle.no-after::after {
  display: none;
}

.dropdown-menu.show li {
  padding: 0;

  a {
    color: $main_nav_gray;
    display: block;
    font-size: 0.9em;
    padding: 10px 15px;

    &:hover {
      background: $sidebar_hover_gray;
    }
  }
}

.header_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 56px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}


.main-nav {
  flex-direction: row !important;
  align-items: center;
  color: $main_nav_icon_gray;

  li {
    padding: 0px 15px;
    a {color: $main_nav_icon_gray}
    a.child {
      color: $main_nav_gray;
      @include transition(0.2s, color);

      &:hover {
        color: $main_nav_border_orange;

        &:after {
          width: 100%;
        }
      }

      &:after {
        background-color: $main_nav_orange;
        content: "";
        display: block;
        height: 2px;
        width: 0%;
        @include transition(0.2s, width);
      }
    }
  }
}

.height-24 {
  height: 24px !important;
}

#sidebarCollapse {
  cursor: pointer;
  font-size: 28px;
  margin: 0 17px;
  @include transition(0.2s, color);

  a {margin-left: 15px}
  &:hover {color: $main_nav_orange}
}

.side-nav {
  display: inherit;
  align-items: center;
}

.search_icon {
  width: 35px;
  height: 35px;
}

.search-box-container {
  right: 15px;
}

.search-box {
  border: 1px solid $search_border_gray;
  border-radius: 3px;
  display: inherit;
  padding: 4px 4px 4px 10px;
  position: relative;
  width: 33%;

  input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
  }

  .search-btn {
    border: 0;
    color: $search_btn_gray;
    padding: 0px 5px 0px 5px !important;

    &:hover {
      color: $main_nav_orange;
      @include transition(0.2s, color);
    }
  }
}

.search-form {
  display: inherit;
  width: 100%;
}
