@import 'bootstrap';

$body_gray: #6c6a74;
$input_gray: #f2f1f8;
$border_bottom_orange: #ff6600;
$button_orange: #ff8a00;
$button_hover_orange: #ec7e00;
$sidebar_gray: #f7f7f7;
$sidebar_a_gray: #4e4e4e;
$sidebar_hover_gray: #e4e4e4;
$content_gray: #fafafa;
$pass: #28a745;

@mixin button_text($size, $weight, $color, $line-height, $text-transform) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
  text-transform: $text-transform;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background: white;
  color: $sidebar_a_gray;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.align-center {
  text-align: center;
}

.horizontal-text {
  border-bottom: 1px solid $body_gray;
  line-height: 0.1em;
  margin: 20px 0 20px;
  text-align: center;
  width: 100%;

  span {
    background:white;
    padding: 0 15px;
    text-transform: uppercase;
  }
}

.h-6833px {
  height: 68.33px;
}

.h-55 {
  height: 55%;
}

.h-45 {
  height: 45%;
}

.h-51px {
  height: 51px;
}

.h-auto {
  height: auto;
}

.separate_course {
  border-top: 1.2px solid $body_gray;
  width: 100%;
}

.input {
  width: 100%;
  height: 47px;
  border: none;
  outline: none;
  background: $input_gray;
  border-bottom: solid 3px transparent;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  padding-left: 15px;
}

.label {
  line-height: 47px;
  text-align: right;
}

.label-uppercase {
  line-height: 47px;
  text-transform: uppercase;
}

.lh-27 {
  line-height: 27px;
}

.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-5px {
  padding-left: 5px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-0 {
  padding-right: 0;
}

.pt-6833 {
  padding-top: 68.33px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-0 {
  padding-top: 0;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-100 {
  padding-bottom: 100px;
}

.m-30 {
  margin: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-129:not(:last-child) {
  margin-bottom: 129px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-8 {
  margin-left: 8px;
}

.mright-5 {
  margin-right: 5px;
}

.mr-42 {
  margin-right: 42px;
}

.mr-68 {
  margin-right: 68px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.border_right {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.border_bottom:not(:last-child) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.input_border_bottom:hover, .input_border_bottom:focus {
  border-bottom: solid 3px $border_bottom_orange;
}

.button {
  background: $button_orange;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 38px;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;

  &:hover {
    background: $button_hover_orange;
  }
}

.button-text {
  @include button_text(12px, bold, white, 24px, uppercase);

  &:hover {
    color: white !important;
  }
}

.fa-google::before {
  font-size: larger;
}

.fa-bell::before {
  font-size: large;
}

.fa-user-circle::before {
  font-size: xx-large;
}

.fs-09em {
  font-size: 0.9em;
}

.fs-13px {
  font-size: 13px;
}

.remember_me {
  margin: 0px 0px 0px 5px;
}

.refactor_link, .refactor_link:hover {
  color: $sidebar_a_gray;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  background: $sidebar_gray;
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  top: 56px;
  transition: all 0.3s;
  width: 190px;

  &.active {
    margin-left: -190px;
  }
}

#sidebar ul li a {
  padding: 11px 15px 11px 30px;
  font-size: 1.1em;
  display: block;
  color: $sidebar_a_gray;

  &:hover {
    background: $sidebar_hover_gray;
  }
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 50px !important;

  &:hover {
    background: $sidebar_hover_gray;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.content {
  background-color: $content_gray;
  bottom: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 56px;
  transition: all 0.3s;
  width: calc(100% - 190px);
  z-index: 9;

  &.active {
    width: 100%;
  }
}

.button-text-default {
  border: 1px solid $body_gray;
  height: 38px;
  @include button_text(12px, bold, $body_gray, 24px, uppercase);

  &:hover {
    color: $body_gray;
    cursor: pointer;
    background-color: $input_gray;
  }
}

.w-215px {
  width: 215px;
}

.w-51px {
  width: 51px;
}

.w-80 {
  width: 80%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

#error_explanation {
  padding: 15px 50px;
  background-color: #FF8181;
  border: 1px solid #e25353;
  display: inline-block;
  color: white;
}
