@import 'bootstrap';

$body_gray: #6c6a74;
$input_gray: #f2f1f8;
$border_bottom_orange: #ff6600;
$button_orange: #ff8a00;
$button_hover_orange: #ec7e00;
$sidebar_gray: #f7f7f7;
$sidebar_a_gray: #4e4e4e;
$sidebar_hover_gray: #e4e4e4;
$content_gray: #fafafa;

@mixin button_text($size, $weight, $color, $line-height, $text-transform) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
  text-transform: $text-transform;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: white;
  color: $body_gray;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.align-center {
  text-align: center;
}

.horizontal-text {
  border-bottom: 1px solid $body_gray;
  line-height: 0.1em;
  margin: 20px 0 20px;
  text-align: center;
  width: 100%;

  span {
    background:white;
    padding: 0 15px;
    text-transform: uppercase;
  }
}

.input {
  width: 100%;
  height: 47px;
  border: none;
  outline: none;
  background: $input_gray;
  border-bottom: solid 3px transparent;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  padding-left: 15px;
}

.label {
  line-height: 47px;
  text-align: right;
}

.label-uppercase {
  line-height: 47px;
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.pl-45 {
  padding-left: 45px;
}

.m-30 {
  margin: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-42 {
  margin-right: 42px;
}

.mr-68 {
  margin-right: 68px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.border_left {
  border-left: solid 1px $body_gray;
}

.border_bottom:hover, .border_bottom:focus {
  border-bottom: solid 3px $border_bottom_orange;
}

.button {
  background: $button_orange;
  border: 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 38px;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;

  &:hover {
    background: $button_hover_orange;
  }
}

.button-text {
  @include button_text(12px, bold, white, 24px, uppercase);
}

.fa-google::before {
  font-size: larger;
}

.fa-bell::before {
  font-size: large;
}

.fa-user-circle::before {
  font-size: xx-large;
}

.remember_me {
  margin: 0px 0px 0px 5px;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 190px;
  position: fixed;
  top: 56px;
  left: 0;
  height: 92vh;
  background: $sidebar_gray;
  color: white;
  transition: all 0.3s;

  &.active {
    margin-left: -190px;
  }
}

#sidebar ul li a {
  padding: 11px 15px 11px 30px;
  font-size: 1.1em;
  display: block;
  color: $sidebar_a_gray;

  &:hover {
    background: $sidebar_hover_gray;
  }
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 50px !important;

  &:hover {
    background: $sidebar_hover_gray;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 480px) {
  #sidebar {
    margin-left: -190px;

    &.active {
      margin-left: 0;
    }
  }
  .content {
    width: 100%;

    &.active {
    width: calc(100% - 190px);
    }
  }
}

.content {
  background-color: $content_gray;
  height: 92vh;
  padding: 0px 30px ;
  position: fixed;
  right: 0;
  top: 56px;
  transition: all 0.3s;
  width: calc(100% - 190px);

  &.active {
    width: 100%;
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 99999;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  span {
    display: inline-block;
    background-color: $button_orange;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
    animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius:50%;

    &:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s;
    }
    &:nth-child(5) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  }
}

@-webkit-keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.sign_up {
  border: 1px solid $body_gray;
  @include button_text(12px, bold, $body_gray, 24px, uppercase);

  &:hover {
    color: $body_gray;
    cursor: pointer;
    background-color: $input_gray;
  }
}
