$failed: #dc3545;
$pass: #28a745;
$content_gray: #fafafa;
$input_gray: #f2f1f8;

@mixin display($type, $item, $content, $direction) {
  align-items: $item;
  display: $type;
  flex-direction: $direction;
  justify-content: $content;
}

@mixin check_requirement($color, $size) {
  color: $color;

  &::before {
    font-size: $size;
  }
}

.tabs {
  margin-bottom: 20px;
}

.fixed_header {
  position: fixed;
  top: 57px;
}

.event_requirements {
  @include display(flex, center, space-between, row);
}

.display_start {
  @include display(flex, center, start, row);
}

.display_center {
  @include display(flex, center, center, row);
}

.display_vertical_between {
  @include display(flex, inherit, space-between, column);
}


.req_description {
  padding-top: 10px;
  padding-bottom: 20px;
}

#user_event_tabs {
  background-color: $content_gray;
  width: 100%;
  z-index: 8;
}

.pass {
  @include check_requirement($pass, x-large);
}

.failed {
  @include check_requirement($failed, x-large);
}

.req_img {
  width: 100%;
}

.participant {
  cursor: pointer;

  &:hover {
    background: $input_gray;
  }
}

.cursor_pointer {
  cursor: pointer;
}
