$failed: #dc3545;
$pass: #28a745;
$content_gray: #fafafa;
$input_gray: #f2f1f8;
$sidebar_hover_gray: #e4e4e4;
$message_border_top: #ddd;

@mixin display($type, $item, $content, $direction) {
  display: $type;
  align-items: $item;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin check_requirement($color, $size) {
  color: $color;

  &::before {
    font-size: $size;
  }
}

.tabs {
  margin-bottom: 20px;
}

.fixed_header {
  position: fixed;
  top: 57px;
}

.display_space_between {
  @include display(flex, center, space-between, row);
}

.display_start {
  @include display(flex, center, start, row);
}

.display_center {
  @include display(flex, center, center, row);
}

.display_center_vertical {
  @include display(inline-flex, center, center, column);
}

.display_vertical_between {
  @include display(flex, inherit, space-between, column);
}

.display_vertical_center {
  @include display(flex, center, center, row);

  .child {
    margin-right: 13px;
  }
}

.display_flex_end {
  @include display(flex, center, flex-end, row);
}

.req_description {
  padding-top: 10px;
}

#user_event_tabs {
  background-color: $content_gray;
  width: 100%;
  z-index: 8;
}

.pass {
  @include check_requirement($pass, x-large);
}

.failed {
  @include check_requirement($failed, x-large);
}

.req_img {
  display: inline-block;
  height: 125px;

  img {
    max-width: 221px;
    max-height: 125px;
  }
}

label.participant {
  cursor: pointer;

  &:hover {
    background-color: $sidebar_hover_gray !important;
  }

  &.active {
    background: $input_gray;
  }
}

.cursor_pointer {
  cursor: pointer;
}

.small_thumbnail {
  height: 46.22px;
  width: 82.2px;

  img {
    max-height: 46.22px;
    max-width: 82.2px;
  }
}

.destroy_message {
  display: none;
}

.three_dots_container {
  cursor: pointer;
  display: inline-flex;
  order: -1;
}

.three_dots_option:after {
  content: '\2807';
  font-size: x-large;
}

.dropdown-item {
  cursor: pointer;

  &:hover, &:active {
    background-color: $sidebar_hover_gray;
  }

  &:active {
    color: inherit;
  }
}

.extend_requirement {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extend_course_info {
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 1px;

  ::before {
    font-size: x-small;
  }
}

#requirement_options {
  display: inline-flex;
  flex-direction: column;
}

#check_requirement {
  display: inline-flex;
  flex-direction: column;
}

#status {
  display: inline-flex;
  flex-direction: column;
  width: 91%;
}

hr.no-margin:last-child {
  display: none;
}

.order-0 {
  order: 0 !important;
}

#participants, #messages, #requirement {
  overflow-y: auto;
}

#messages {
  height: 72vh;
}

#requirement {
  height: 78vh;
}

#new_message {
  border-top: 1px solid $message_border_top;
}

#message_content {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

#course_info {
  transition: margin-top 0.3s;
}

.event_detail_panel {
  margin-bottom: 16px;
}

#images .req_img img {
  cursor: pointer;
}
