<li><%= link_to t(".latest"), "#" %></li>
<li><%= link_to t(".most_popular"), "#" %></li>
<li><%= link_to t(".enrolling"), "#" %></li>
<li><%= link_to t(".my_courses"), user_enroll_events_path %></li>
