<nav id="sidebar" class="<%= cookies[:sidebarCollapse] %>">
  <ul class="list-unstyled">
    <li><%= link_to t(".home"), root_path %></li>
    <li>
      <%= link_to t(".courses"), "#pageSubmenu", class: "dropdown-toggle",
        aria_expanded: true, data: {toggle: "collapse"} %>
      <ul class="collapse show list-unstyled" id="pageSubmenu">
        <%= render "layouts/page_submenu" %>
      </ul>
    </li>
  </ul>
</nav>
